/* root designs */  
:root {
  --clr-primary-400: #;
  --clr-primary-600: #;
  --clr-primary-900: #;

  --clr-background-300: #D9D9D9;
  --clr-background-600: #DADDD8;
  --clr-background-900: #adb5bd;

  --clr-neutral-white: #FAFAFF;
  --clr-neutral-black: #252525;


  --fc-primary: ;
  --fc-label: ;
  --fc-disbaled: ;
  --fc-hover: #adadad;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
  
  --ff-primary: 'Mulish', sans-serif;

  --fs-primary: 1rem;
  --fs-subheading: 1.17rem;
  --fs-heading: 1.5rem;
  --fs-title: 2rem;
}
/* Powell reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;

}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;  
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
}

a{
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-black);
  line-height: 1;
  margin-bottom: 1em;
}

h2, h3, p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 34rem;
}

.split {
  display: flex;
  flex-direction: row;
}   
/*Design, most colors you see are placeholders, actual font/background colors will be selected later on in the future. */
/* nav */

/* section 1 */
.bg-img1 {
  background-image:url(../pics/bg-section1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.bg-img1 p, .bg-img1 h1 {
  text-align: center;
  margin: 0;
}

/* section 2 */
.bg-color2 {
  background-color: var(--clr-background-300);
}
.bg-color2 img {
  width: 100%;
  margin: 0 auto;
  box-shadow: #222c2a;
  margin-bottom: 1em;
}

/* section 3 */
.bg-color3 {
  font-size: var(--fs-600);
  background-color: var(--clr-background-900);
}

/* section 4 */
.bg-color4 {
  font-size: var(--fs-500);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
}
.bg-color4 img {
  width: 100%;
  margin: 0 auto;
  box-shadow: #222c2a;
  margin-bottom: 1em;
}

/* section 5 (footer) */
footer {
  background-color: var(--clr-neutral-black);
}
.footerleft, .footermiddle, .footerright {
  display: flex;
}
.fflexcontain {
  display: flex;
  justify-content: space-around;
}
.fflex {
  display: flex;
}
.footercolumn {
  display: flex;
}
footer p{
  color: var(--clr-neutral-white);
  text-align: center;
  border-bottom: 1px solid var(--clr-neutral-white);
  border-radius: 10%;
}
footer a{
  color: var(--clr-neutral-white);
  text-align: center;
}
footer a:hover {
  color: var(--fc-hover)
}
.footer-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-subheading);
}
.inputemail {
  margin: 0 auto;
}

/* media queries go here */
@media (max-width: 40em) {
  header {
      display:flex;
      flex-direction: column;
  }
  header a {
      text-align: center;
  }
  .split {
      flex-direction: column;
  }
  .footerleft, .footermiddle, .footerright {
      flex-direction: column;
  }
  .fflexcontain {
      flex-direction: column;
  }
  .fflex {
      flex-direction: column;
  }
  .footercolumn {
      flex-direction: column;
  }

}
@media (min-width: 40em) {
  .split {
      flex-direction: row;
  }
  section {
      padding: 7em 0; 
  }
  .split > * {
      flex-basis: 100%;
  }
  .split > * + * {
      margin-left: 2em;
  }
  .bg-color4 .split {
      flex-direction: row-reverse;
  }
  .bg-color4 .split > * {
      margin-left: 0em;
      margin-right: 2em;
  }
  .footerleft, .footermiddle, .footerright {
      flex-direction: column;
  }
  .fflexcontain {
      flex-direction: row;
  }
  .footercolumn {
      flex-direction: column;
  }
  .fflex {
      flex-direction: column;
  }
}